{% extends "base.html" %} 

{% block title %}User Input{% endblock %} 

{% block content%}
  <h1>User Input</h1>
    <form method="POST">
      {{form.hidden_tag()}}
  
      {{form.name.label(class='form-label')}}
      {{form.name(class='form-control')}}
      <br/>
      {{form.dataset.label(class='form-label')}}
      {{form.dataset(class='form-control-file')}}
      <br/>
      {{form.intent.label(class='form-label')}}
      {{form.intent(class='form-control')}}
      <br/>
      {{form.multiple.label(class='form-label')}}
      {{form.multiple(class='form-control')}}
      <br/>
      {{form.time.label(class='form-label')}}
      {{form.time(class='form-control')}}
      <br/>
      {{form.prepro.label(class='form-label')}}
      {{form.prepro(class='form-control')}}
      <br/>
      {{form.algorithm.label(class='form-label')}}
      {{form.algorithm(class='form-control')}}
      <br/>
      {{form.submit(class='btn btn-primary')}}

    </form>
{% endblock %}
