{% extends "base.html" %}

{% block title %}User Input{% endblock %}

{% block content%}

<div id="content-wrapper">
    <h1>User Input</h1>
    <br/>
      <form method="POST" class="row">
        <div class="col-md-6">
          {{form.name.label(class='form-label')}}
          {{form.name(class='form-control')}}
          <br/>
          <br/>
          {{form.dataset.label(class='form-label')}}
          {{form.dataset(class='form-control')}}
        </div>
        <div class="col-md-6">
          <!-- Empty column to respect space -->
        </div>
        <div class="col-md-6">
          <br/>
          <br/>
          <div id="loadingContainer">
            <p id="loadingText"></p>
            <div id="loadingSpinner"></div>
          </div>
          {{ form.submit(class='btn btn-primary', id='submitBtn') }}
          <div id="overlay"></div>
        </div>
      </form>
</div>

<!-- Styles to change default settings of the checkbox-->
<style>  
  #content-wrapper {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #loadingContainer {
    display: none; /* Initially hide the container */
    display: flex;
    align-items: center;
  }

  #loadingText {
    margin-right: 10px;
    z-index: 10000; /* Set a higher z-index than the overlay */
    font-weight: bold;
  }

  #loadingSpinner {
    width: 20px;
    height: 20px;
    border: 3px solid #f3f3f3;
    border-top: 3px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    display: none; /* Initially hide the spinner */
    z-index: 10000; /* Set a higher z-index than the overlay */
  }

  #overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent gray background */
    display: none; /* Initially hide the overlay */
    z-index: 9999; /* Set a high z-index value to overlay other elements */
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
</style>

<!-- JavaScript code -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('#submitBtn').click(function(event) {
            event.preventDefault(); // Prevent form submission
            $('#loadingText').text('Generating Recommendations...');
            $('#overlay').show(); // Show the overlay
            $('#loadingSpinner').show(); // Show the spinner
            $('#loadingContainer').show(); // Show the container
            setTimeout(function() {
                $('#submitBtn').unbind('click').click(); // Trigger form submission after a delay (adjust the delay as needed)
            }, 0); // Delay in milliseconds (adjust as needed)
        });
    });
</script>

{% endblock %}
