{% extends "base.html" %}

{% block title %}User Input{% endblock %}

{% block content%}

<div id="content-wrapper">
    <h1>User Input</h1>
    <br/>
      <form method="POST" class="row">
        <div class="col-md-6">
          {{form.name.label(class='form-label')}}
          {{form.name(class='form-control')}}
          <br/>
          <br/>
          {{form.dataset.label(class='form-label')}}
          {{form.dataset(class='form-control')}}
        </div>
        <div class="col-md-6">
          <!-- Empty column to respect space -->
        </div>
        <div class="col-md-6">
          <br/>
          <br/>
          {{ form.submit(class='btn btn-primary') }}
        </div>
      </form>
</div>

<!-- Styles to change default settings of the checkbox-->
<style>  
  #content-wrapper {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
</style>
{% endblock %}